<% provide(:title, "Staff") %>
<div class="container-fluid" id="main">
<div class="row">
  
  <h1>Staff</h1>
  
  <h2>Admin: Zvonimir Kolumbic</h2>

  <nav class="navbar navbar-default">
    <%= link_to "All users", users_path, class: "btn btn-default btn-xs" %>
    <%= link_to "New User", new_user_path, class: "btn btn-default btn-xs" %>
  <nav/>

<br /><br />

</div> <!-- row -->
</div> <!-- container-fluid main -->
