<% provide(:title, "New User") %>
<% provide(:button_text, 'Create My Account') %>
<div class="container-fluid" id="main">
<div class="row">

  <div class="wrapper-new", style="margin: 0 0 10px 30px;">

    <%= render 'form', user: @user %>
    
  </div>
  
</div>  <!-- row -->
</div> <!-- container-fluid -->
